<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-iris-docx.ZPM">
    <Module>
      <Name>dc-iris-docx</Name>
      <Version>1.0.8</Version>
      <Description>Sample how to create and read MS word document with embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Resource Name="dc.docx.PKG"/>
      <Invoke Class="dc.docx.sample.Donuts" Method="Populate" ></Invoke>
    </Module>
  </Document>
</Export>
